<?xml version="1.0" encoding="UTF-8"?>
<!--
    日志级别: TRACE < DEBUG < INFO < WARN < ERROR < FATAL
    status : 设置log4j2自身内部日志信息的输出级别
    monitorInterval : log4j2自动检测配置文件改动，并能重新配置本身, 该参数代表每次检测的间隔秒数
-->
<Configuration status="WARN" monitorInterval="600">
    <Properties>
        <!-- 配置日志文件输出目录及文件名 -->
        <Property name="LOG_HOME">./logs</Property>
        <Property name="FILE_NAME">${project.artifactId}</Property>
        <property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss.SSS}] %processId %-5p [%c{36}:%L] [%t] - %msg%xEx%n
        </property>
    </Properties>

    <Appenders>
        <!-- 配置控制台日志输出 -->
        <Console name="Console" target="SYSTEM_OUT">
            <!-- 只输出level及以上级别的信息(onMatch),其他的不输出(onMismatch) -->
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <!-- 输出日志的格式 -->
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="${LOG_PATTERN}">
                    <PatternMatch key="sink" pattern="%msg%xEx%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
        </Console>
        <!-- 一般日志文件格式 输出INFO及以上级别的日志 -->
        <RollingRandomAccessFile name="InfoFile"
                                 fileName="${LOG_HOME}/${FILE_NAME}.log"
                                 filePattern="${LOG_HOME}/${FILE_NAME}_%d{yyyy-MM-dd}.log.gz">
            <Filters>
                <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout>
                <MarkerPatternSelector defaultPattern="${LOG_PATTERN}">
                    <PatternMatch key="sink" pattern="%msg%xEx%n"/>
                </MarkerPatternSelector>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <!-- 错误日志文件格式 输出WARN及以上级别的日志 -->
        <RollingRandomAccessFile name="ErrorFile"
                                 fileName="${LOG_HOME}/${FILE_NAME}_ERROR.log"
                                 filePattern="${LOG_HOME}/${FILE_NAME}_ERROR_%d{yyyy-MM-dd}.log.gz">
            <Filters>
                <ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingRandomAccessFile>
        <!-- 配置异步写日志 -->
        <Async name="Async">
            <AppenderRef ref="InfoFile"/>
        </Async>
    </Appenders>

    <!--只有定义了logger并引入的appender，appender才会生效-->
    <Loggers>
        <!-- 配置日志的根节点 -->
        <root level="INFO">
            <appender-ref ref="Console"/>
            <appender-ref ref="InfoFile"/>
            <appender-ref ref="ErrorFile"/>
        </root>
        <!-- 第三方日志系统 -->
        <logger level="info" name="org.springframework"/>
    </Loggers>
</Configuration>